<html metal:use-macro="/workflow/wrapper/main.html/layout" metal:define-macro="process_wrapper">
    <div metal:fill-slot="main_process_wrapper">
            <div id="contenedor_general">
                <div id="header">
                    <tal:block metal:define-slot="header_template">
                        <div id="botonera">
                            <a href="instrucciones_preguntas.html" target="_blank">INSTRUCCIONES</a> | <a href="/p/COD1/COD1_4" target="_blank">BASES Y CONDICIONES</a> | <a href="premios_preguntas.html" target="_blank">PREMIOS</a>
                        </div>
                    </tal:block>
                </div>
                <div id="lateral"></div>
                <div id="contenido">
                    <tal:block metal:define-slot="activity"/>
                </div>

                <div id="btn_siguiente">
                    <input type='image' src="/static/resources/default/css/images/btn_siguiente.png" title="siguiente" alt="siguiente" name="btn_siguiente" width="149" height="37" border="0" id="btn_siguiente2"/>
                </div>
                <div id="footer_preguntas">
                    <tal:block metal:define-slot="footer_template"/>
                </div>
            </div>

    </div>

    <tal:block metal:fill-slot="main_css_templates">
        <link href="/static/resources/default/css/styles.css" rel="stylesheet" type="text/css" />
    </tal:block>

    <tal:block metal:fill-slot="main_js_templates">

    </tal:block>

</html>
