<!DOCTYPE html>
<html metal:use-macro="/admin/wrapper/main.html/layout">
    <div id="main_edit" metal:fill-slot="main_content">
        <h2><strong>2.- Determinar Formato de Archivo</strong></h2>
        <form id="fileprocess" action="/admin/participants/set_format_batch" method="POST" enctype="multipart/form-data">
            <input name="batch_id" id="batch_id" type='hidden' value="${batch_id}"/>
            <div class="controls controls-row">
                <input type="checkbox" name="batch_first_head" autocomplete="off"/> 
                <label class="span4">Primera columna es encabezado?</label>
            </div>
            <br/>
            <span><strong>Delimitador de columna</strong></span>
            <div class="controls controls-row">
                <tal:block tal:repeat="delimiter delimiters">
                    <input type="checkbox" class="span1 checkbox" name="batch_delimiter" value="${delimiter/value}" autocomplete="off"/> 
                    <label class="span2">${delimiter/label}</label>
                </tal:block>
            </div>
            <button id="button_preview_format" type="button" class="btn btn-success">Previsualizar</button>
            <br/>

            <div id="records_preview">
                <table class="table table-striped table-hover table-bordered ">
                    <tbody>
                        <tr tal:repeat="line lines">
                            <td tal:content="line">..</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="form-actions">
                <button type="button" class="btn">Cancelar</button>
                <button type="submit" class="btn btn-primary">Procesar</button>
            </div>
        </form>
 
    </div> <!-- /container -->

    <tal:block metal:fill-slot="wrapper_js">
        <script src="/static/js/admin/edit_batch_participants.js"></script>

       <script type="text/javascript">
           $('input[id=batch_file]').change(function() {
                  $('#batch_file_name').val($(this).val());
           });
           this.window.EditBatch = new Admin.EditBatch({
                el: $('#main_edit')
           });
       </script>

    </tal:block>

</html>
