<!DOCTYPE html>
<html metal:use-macro="/admin/wrapper/main.html/layout">
    <div id="main_edit" metal:fill-slot="main_content">
        <h2><strong>3.- Definir Estructura</strong></h2>
        <form id="file_structure" action="/admin/participants/process_batch" method="POST" enctype="multipart/form-data">
            <input name="batch_id" id="batch_id" type='hidden' value="${batch_id}"/>
            <span><strong>Definicion de columna</strong></span>

            <div class="controls controls-row">
                <label class="offset5 span6" for="identificatorios_idem">Agrupar campos identificatorios?
                    <input type="checkbox" name="agrupar_identificatorios" value="TRUE"/>
                </label>
            </div>
            <tal:block tal:repeat="definition columns_definition">
                <div class="form-inline">
                    <label for="name_${definition/order}">Campo</label>
                    <input type="text" name="name_${definition/order}" autocomplete="off" value="${definition/name}"/> 
                    <label class="offset1 checkbox">Es el nombre?
                        <input type="radio" name="nombre" value="${definition/order}"/>
                    </label>
                    <label class="offset1 checkbox">Identifica
                        <input type="checkbox" name="login_${definition/order}"/>
                    </label>
                </div>
            </tal:block>

            <div class="form-actions">
                <button type="button" class="btn">Cancelar</button>
                <button type="submit" class="btn btn-primary">Procesar</button>
            </div>
        </form>
 
    </div> <!-- /container -->

    <tal:block metal:fill-slot="wrapper_js">
        <script src="/static/js/admin/edit_batch_participants.js"></script>

       <script type="text/javascript">
           $('input[id=batch_file]').change(function() {
                  $('#batch_file_name').val($(this).val());
           });
           this.window.EditBatch = new Admin.EditBatch({
                el: $('#main_edit')
           });
       </script>

    </tal:block>

</html>
