<!DOCTYPE html>
<html metal:use-macro="/admin/wrapper/main.html/layout">
    <div id="main_edit" metal:fill-slot="main_content">
        <h2><strong>1.- Subir Archivo</strong></h2>
        <form id="fileupload" action="/admin/participants/upload_batch" method="POST" enctype="multipart/form-data">

            <div id="form_batch">
                <input name="batch_file" id="batch_file" type="file" style="display:none" autocomplete="off"/>
                <div class="input-append">
                    <a class="btn" onclick="$('input[id=batch_file]').click();">Elegir Archivo</a>
                    <input id="batch_file_name" class="input-xxlarge" type="text" readonly="true" autocomplete="off"/>
                </div>
                       
                <div class="controls controls-row">
                    <label class="span2" for="batch_sumario">Descripcion</label>
                    <input type="text" name="batch_descripcion" id="batch_descripcion" class="input-xxlarge span6"  autocomplete="off" />
                </div>

             </div>

            <div class="form-actions">
                <button type="button" class="btn">Cancelar</button>
                <button type="submit" class="btn btn-primary">Importar</button>
            </div>
     
        </form>



    </div> <!-- /container -->

    <tal:block metal:fill-slot="wrapper_js">
        <script src="/static/js/admin/edit_batch_participants.js"></script>

       <script type="text/javascript">
           $('input[id=batch_file]').change(function() {
                  $('#batch_file_name').val($(this).val());
           });
           this.window.EditBatch = new Admin.EditBatch({
                el: $('#main_edit')
           });
       </script>

    </tal:block>

</html>
