    <div id="edit_process_participants" metal:define-macro="batch_list">

       <div id="batch_list" style="display:block">
            <table class="table table-striped table-hover">
                <caption>Lotes de Participantes</caption>
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr tal:repeat="batch batches" id="row_${batch/_id}">
                        <td tal:content="batch/descripcion">Loteo de Compania</td>
                        <td tal:content="batch/cantidad">34</td>
                        <td><button class="batch_preview btn btn-small btn-primary" value="${batch/_id}">Ver</button></td>
                    </tr>
               </tbody>
            </table>
        </div>
        <div id="batch_preview" style="display:none">
            <div id="batch_info">

            </div>
            <div id="participants_records" class="columns fuelux" >

                <table id="participants_table" class="table table-bordered datagrid">
                    <thead>
                        <tr>
                            <th>
                                <span class="datagrid-header-title">Candidatos</span>
                                <div class="datagrid-header-left"> </div>
                                <div class="datagrid-header-right">
                                    <div class="input-append search">
                                        <input type="text" class="input-medium" placeholder="Search"></input><button class="btn"><i class="icon-search"></i></button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>
                                <div class="datagrid-footer-left" style="display:none;">
                                    <div class="grid-controls">
                                        <span><span class="grid-start"></span> - <span class="grid-end"></span> de <span class="grid-count"></span></span>
                                            <select class="grid-pagesize"><option>10</option><option>20</option><option>50</option><option>100</option></select>
                                        <span>Por Pagina</span>
                                    </div>
                                </div>
                                <div class="datagrid-footer-right" style="display:none;">
                                    <div class="grid-pager">
                                        <button class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
                                        <span>P&aacute;gina</span>
                                        <div class="input-append dropdown combobox">
                                            <input class="span1" type="text"></input><button class="btn" data-toggle="dropdown"><i class="caret"></i></button>
                                            <ul class="dropdown-menu"></ul>
                                        </div>
                                        <span>de <span class="grid-pages"></span></span>
                                        <button class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
               </table>

            </div>
        </div>
        <div id="batch_actions" class="modal-footer" display="none">
            <button id="button_batch_cancelar" class="btn">Cancelar</button>
            <button id="button_batch_asociar" class="btn btn-primary">Asociar</button>
        </div>
 
    </div>
