<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>TITULO PROCESO</title>
        <link href="/static/default/css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body bgcolor="#CCCCCC">
        <form name='form1' method="POST" action="{{ACCION}}"> 
            <div id="contenedor_general">
                <div id="header">
                    <div id="botonera">
                        <a href="instrucciones_preguntas.html" target="_blank">INSTRUCCIONES</a> | <a href="bases_preguntas.html" target="_blank">BASES Y CONDICIONES</a> | <a href="premios_preguntas.html" target="_blank">PREMIOS</a>
                    </div>
                </div>
                <div id="lateral"></div>
                <div id="contenido">
                    <!--CONTENIDO_ACTIVIDAD-->
                </div>

                <div id="btn_siguiente">
                    <input type='image' src="images/btn_siguiente.png" title="siguiente" alt="siguiente" name="btn_siguiente" width="149" height="37" border="0" id="btn_siguiente2"/>
                </div>
                <div id="footer_preguntas">
                </div>
            </div>
        </form>
    </body>
</html>
