<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="nosis/nosisApplicationContext.xml"/>
	<import resource="akka/akka-spring-config.xml"/>
	<import resource="akka/context-jms.xml"/>
	<import resource="akka/context-standalone.xml"/>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="location">
            <value>file:../.dist/conf/application.properties</value>
		</property>
	</bean>

</beans>
