                    <!-- Header -->
                    <tal:block metal:define-macro="header_template">

                        <div id="botonera">
                            <a href="instrucciones_preguntas.html" target="_blank">INSTRUCCIONES</a> | <a href="/p/COD1/COD1_4" target="_blank">BASES Y CONDICIONES</a> | <a href="premios_preguntas.html" target="_blank">PREMIOS</a>
                        </div>

                    </tal:block>

                    <!-- Header -->
                    <!-- Lateral -->
                   <!-- Lateral -->
                    <!-- Contenido-->

                    <!-- Contenido-->
                    <!-- Acciones-->
                <div id="btn_siguiente">
                    <input type='image' src="/static/resources/default/css/images/btn_siguiente.png" title="siguiente" alt="siguiente" name="btn_siguiente" width="149" height="37" border="0" id="btn_siguiente2"/>
                </div>
                    <!-- Acciones-->
                    <!-- Footer-->





