body {
	background-color: #CCCCCC;
	}
#contenedor_gral {
	height: 706px;
	width: 1256px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/BG_home.jpg);
}
#contenedor_gral_game {
	height: 706px;
	width: 1256px;
	margin-right: auto;
	margin-left: auto;
	background-image: none;
}
#left_game {
	float: left;
	height: 519px;
	width: 159px;
}
#contenedor_pregunta_game {
	float: left;
	height: 101px;
	width: 840px;
	margin-top: 55px;
	background-color: #6ECAF3;
}
#numb_preg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 78px;
	font-style: normal;
	float: left;
	height: 101px;
	width: 43px;
	background-color: #6ECAF3;
	font-weight: bold;
	margin-left: 109px;
	margin-top: 55px;
}
#nombre_participante {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	float: right;
	height: 21px;
	width: 405px;
	background-color: #FFF;
	margin-right: 23px;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 10px;
}
#check_login {
	float: left;
	margin-top: 20px;
}
#acepto_login {
	float: left;
	height: 26px;
	width: 260px;
	margin-top: 26px;
	margin-left: 135px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
#contenedor_respuestas_game {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	float: left;
	height: 211px;
	width: 436px;
	margin-top: 32px;
	margin-left: 188px;
}
#btn_siguiente {
	float: right;
	height: 81px;
	width: 146px;
	margin-top: 227px;
	margin-right: 78px;
}
#header_game {
	float: left;
	height: 124px;
	width: 1256px;
	background-image: url(images/header_game.jpg);
}
#footer_game {
	float: left;
	height: 63px;
	width: 1256px;
}
#contenedor_login {
	float: right;
	height: 271px;
	width: 469px;
	margin-top: 236px;
	background-image: url(images/BG_login.jpg);
	background-repeat: no-repeat;
}
#central_game {
	background-image: url(images/central_game_03.jpg);
	float: left;
	height: 519px;
	width: 1097px;
	background-repeat: no-repeat;
}
#central_logout {
	background-image: url(images/central_logout_03.jpg);
	float: left;
	height: 519px;
	width: 1097px;
	background-repeat: no-repeat;
}
#participa_login {
	float: left;
	height: 30px;
	width: 161px;
	margin-top: 16px;
	margin-left: 34px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
}
#ingresa_login {
	float: left;
	height: 26px;
	width: 397px;
	margin-top: 16px;
	margin-left: 34px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
}
#formulario_login {
	float: left;
	height: 39px;
	width: 323px;
	margin-top: 15px;
	margin-left: 105px;
}
.respuestas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	margin-left: 10px;
}
.largecheckbox {
	font-size: 24px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	height: 31px;
	width: 31px;
	float: left;
}
#bases_loging {
	float: left;
	height: 16px;
	width: 152px;
	margin-top: 44px;
	margin-left: 46px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
#btn_ingresar_login {
	float: left;
	height: 32px;
	width: 120px;
	margin-top: 32px;
	margin-left: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #0070BA;
	text-decoration: none;
}
.btn_off_ing {
	text-decoration: none;
	color: #0070BA;
}
.btn_off_bases {
	text-decoration: underline;
	color: #000;
}
.text_login {
	float: left;
	height: 39px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	width: 305px;
}
.pregunta {
	margin-top: 10px;
	margin-left: 20px;
	text-align: left;
	white-space: normal;
	float: left;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
.pregunta_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.bold_logout {
	font-weight: bold;
}
.checkbox {
	background-image: none;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	float: left;
}

.radio {
	background-image: none;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	float: left;
}

#contenedor_logout {
	float: left;
	height: 323px;
	width: 644px;
	margin-top: 76px;
	margin-left: 236px;
	background-color: #D8D9DA;
}
#logo_logout {
	background-image: none;
	background-position: center center;
	height: 111px;
	width: 644px;
	background-repeat: no-repeat;
}
#texto_logout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	height: 87px;
	width: 644px;
	text-align: center;
	margin-top: 47px;
}
#nombre_logout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 37px;
	height: 44px;
	width: 644px;
	text-align: center;
	font-weight: lighter;
	margin-top: 34px;
}
#btn_salir {
	float: right;
	height: 81px;
	width: 145px;
	margin-top: 15px;
	margin-right: 85px;
}
