<!DOCTYPE html>
<div metal:use-macro="/admin/wrapper/process_edit_wrapper.html/process_edit_wrapper">
    <div metal:fill-slot="main_process_edit">
    <div class="tab-content" id="process_tab_component" style="height:300px">
        <div class="tab-pane active" id="process_edit" data-toggle="tab">
            <div id="form_proceso">
                <div class="controls controls-row">
                    <label class="span2" for="proceso_codigo">Codigo</label>
                    <input type="text" id="proceso_codigo" class="input-small span2" style="text-transform:uppercase;" autocomplete="off"/>
                </div>
                <div class="controls controls-row">
                    <label class="span2" for="proceso_sumario">Descripci&oacute;n</label>
                    <input type="text" id="proceso_sumario" class="input-xxlarge span6"  autocomplete="off" />
                </div>

                <div class="controls controls-row">
                    <label class="span2" for="proceso_tema">Diseño</label>
                    <select class="span5" id="proceso_tema"> </select>
                </div>

                <div class="controls controls-row">
                    <label class="span2" for="proceso_tipo">Tipo</label>
                    <select class="span5" id="proceso_tipo"> 
                        <option value="concurso">Concurso</option>
                        <option value="evaluacion">Evaluacion</option>
                        <option value="encuesta">Encuesta</option>
                        <option value="contenido">Presentacion</option>
                    </select>
                </div>

                <div class="controls controls-row">
                    <label class="span2" for="proceso_fecha_inicio">Fecha Inicio</label>
                    <input type="text" id="proceso_fecha_inicio" class="input-small span2 datepicker"  date-format="dd/mm/yyydd/mm/yyyyy" autocomplete="off"/>
                    <label class="span2" for="proceso_fecha_fin">Fecha Fin</label>
                    <input type="text" id="proceso_fecha_fin" class="input-small span2 datepicker"  autocomplete="off"/>
                 </div>

            </div>

            <div id="bases_edicion" class="accordion span10">
                <div class="accordion-group" id="bases"> 
                    <div class="accordion-heading"> 
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#bases_edicion" href="#content_bases"><strong>Bases</strong></a>
                    </div> 
                    <div id="content_bases" class="accordion-body collapse"> 
                       <div class="accordion-inner"> 
                            <div class="controls controls-row">
                                <label class="span1" for="bases_sumario">Descripci&oacute;n</label>
                                <textarea id="bases_sumario" class="span8 input-xxlarge" rows="3" autocomplete="off"></textarea>
                            </div>
                            <div class="controls controls-row">
                                <textarea id="bases_texto" class="input-xxlarge" placeholder="Contenido..." autocomplete="off"></textarea>
                            </div>
                        </div> 
                    </div> 
                </div> 
            </div>

 

        </div>

        <div class="tab-pane" id="process_cuestionario" data-toggle="tab">
            <div>
                <div class="btn btn-success offset9" id="button_agregar_actividad"><i class="icon-plus-sign icon-white"></i> Agregar Actividad</div>
            </div>
            <div class="accordion" id="cuestionario">
            </div>
        </div>

        <div class="tab-pane" id="process_recursos"  data-toggle="tab">
            <tal:block metal:use-macro="/admin/resources/edit_resources.html/resource_edit"></tal:block>
        </div>

        <div class="tab-pane" id="process_usuarios"  data-toggle="tab">
            <tal:block metal:use-macro="/admin/participants/batch_selection.html/batch_list"></tal:block>
        </div>

        <div class="tab-pane" id="process_templates"  data-toggle="tab">
            <tal:block metal:use-macro="/admin/templates/templates_edit.html/templates_list"></tal:block>
        </div>

    </div>
        <div class="row">
            <div id="button_atras" class="btn btn-info span2"><i class="icon-arrow-left icon-white"></i>&nbsp;&nbsp;Atras&nbsp;&nbsp;</div>
            <button type="button" id="button_siguiente" class="btn btn-primary offset6 span2" data-loading-text="Procesando..." >Siguiente&nbsp;<i class="icon-arrow-right icon-white"></i></button>
        </div>

        <!--dialogs-->
        <div id="dialog_editar_actividad" class="modal bigModal" style="display:none" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-show="false">
            <tal:block metal:use-macro="/admin/steps/edit_step.html/actividad_edit"></tal:block>
       </div>
        <!-- /dialogs -->
    </div>


    <tal:block metal:fill-slot="main_css_templates">

        <link rel="stylesheet" type="text/css" href="/static/js/redactor/redactor.css"></link>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/js/redactor/plugins/clips.css"></link>


        <link rel="stylesheet" type="text/css" media="screen" href="/static/plugins/fuelux/css/fuelux.css"></link>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/plugins/fuelux/css/fuelux-responsive.css"></link>

        <style>
            div.done {
                color: #b94a48;
                text-decoration: line-through;
            }
            .bigModal{
                width:940px;
                margin-left:-470px;
            }
        </style>


    </tal:block>


    <tal:block metal:fill-slot="main_js_templates">
    <!-- templates -->
    <script type="text/template" id="item-actividad-template">
        <div class="accordion-group" id="q_{%=codigo%}"> 
            <div class="accordion-heading"> 
                <div class="row">
                    <div class="span9">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#cuestionario" href="#content_{%=codigo%}">                     <strong>#{%=orden%}</strong>&nbsp;-&nbsp;
                             {%if(descripcion != ''){ %} {%=descripcion%} {% } else { %} Actividad {%=tipo%} {% } %}
                        </a>
                    </div>
                    <div class="offset10">
                        <div class="btn-group">
                            <button class="btn btn-info btn-small btn-edit">
                                <i class="icon-edit icon-white"></i>
                            </button>
                            <span></span>
                            <span></span>
                            <button class="btn btn-info btn-small btn-trash">
                                <i class="icon-trash icon-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
            {% if(has_respuestas){ %}
            <div id="content_{%=codigo%}" class="accordion-body collapse"> 
               <div class="accordion-inner"> 
                    <div id="respuestas_{%=codigo%}">
                    </div>
                </div> 
            </div> 
            {% } %}
         </div> 
    </script>
    <script type="text/template" id="item-respuesta-template">
        <div id="r_{%=codigo%}" class="row"> 
            <div class="span5 {%if(typeof(removed) != 'undefined'){ %} done {% } %}">{%=texto%}</div> 
            {% if(typeof(removed) != 'undefined') { %}
            <div class="span1"> 
                <div class="btn btn-link up">
                    <i class="icon-repeat" title="deshacer"></i>
                </div>
            </div> 
            <div class="span1"></div> 
            <div class="span1"></div> 
            <div class="span1"></div> 
            <div class="span1"></div> 
            {% } else { %}
            <div class="span1"></div> 
            <div class="span1">
                <div class="btn btn-link remove">
                    <i class="icon-red icon-remove-sign"></i>
                </div>
            </div> 
            <div class="span1"></div> 
            <div class="span1">
                {% if(orden != 0) { %}
                <div class="btn btn-link up">
                    <i class="icon-arrow-up"></i>
                </div>
                {% } %}
            </div>
            <div class="span1">
                {% if(!last) { %}
                <div class="btn btn-link down">
                    <i class="icon-arrow-down"></i>
                </div>
                {% } %}
            </div>
            {% } %}
        </div> 
    </script>


    <script type="text/template" id="item-edit-respuesta-template">
        <div id="re_{%=codigo%}" class="row {% if(correcta) { %} success {% } %} {%if(typeof(removed) != 'undefined'){ %} error{% } %}"> 
            <div class="span1">
                {% if(correcta){ %} 
                    {% if(tipo_pregunta == 'SM'){ %} 
                        <input type="checkbox" readonly="true" disable="true" checked="true"/> 
                    {% } else { %}
                        <input type="radio" readonly="true" disable="true" checked="true" /> 
                    {% } %} 
                {% } else { %}
                    {% if(tipo_pregunta == 'SM'){ %} 
                        <input type="checkbox" readonly="true" disable="true" /> 
                    {% } else { %}
                        <input type="radio" readonly="true" disable="true"/> 
                    {% } %} 
                {% } %} 
            </div> 
            <div class="span4 {%if(typeof(removed) != 'undefined'){ %} done {% } %}">{%=texto%}</div> 
            <div class="span1 {%if(typeof(removed) != 'undefined'){ %} done {% } %}"><strong>{%=valor%}</strong></div> 
            {% if(typeof(removed) != 'undefined') { %}
            <div class="span1"> 
                <div class="btn btn-link up">
                    <i class="icon-repeat" title="deshacer"></i>
                </div>
            </div> 
            <div class="span1"></div> 
            <div class="span1"></div> 
            <div class="span1"></div> 
            {% } else { %}
            <div class="span1">
                <div class="btn btn-link pencil">
                   <i class="icon-pencil"></i>
                </div>
            </div> 
            <div class="span1">
                <div class="btn btn-link remove">
                    <i class="icon-red icon-remove-sign"></i>
                </div>
            </div> 
            <div class="span1">
                {% if(orden != 0) { %}
                <div class="btn btn-link up">
                    <i class="icon-arrow-up"></i>
                </div>
                {% } %}
            </div>
            <div class="span1">
                {% if(!last) { %}
                <div class="btn btn-link down">
                    <i class="icon-arrow-down"></i>
                </div>
                {% } %}
            </div>
            {% } %}
        </div> 
    </script>

    <!--
    <script src="/static/js/wysihtml5-0.3.0.js"></script>
    <script src="/static/js/bootstrap-wysihtml5.js"></script>
    <script src="/static/js/locales/bootstrap-wysihtml5.es-ES.js"></script>
    
    -->
    <script type="text/javascript" src="/static/plugins/fuelux/loader.js"></script>
    <script src="/static/js/require.js"></script>
    <script>
        requirejs.config({ baseUrl: '/static/plugins/fuelux'});
    </script>


    <script src="/static/js/redactor/redactor.min.js"></script>
    <script src="/static/js/redactor/plugins/fullscreen.js"></script>
    <script src="/static/js/redactor/plugins/clips.js"></script>
    <script src="/static/js/redactor/es.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/plugins/elfinder/css/jquery-ui.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/plugins/elfinder/css/elfinder.min.css"></link>

    <script type="text/javascript" src="/static/plugins/elfinder/js/elfinder.min.js"></script>
    <script type="text/javascript" src="/static/plugins/elfinder/js/i18n/elfinder.es.js"></script>


    <!-- Mac OS X Finder style for jQuery UI smoothness theme (OPTIONAL) -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/plugins/elfinder/css/theme.css"></link>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/js/google-code-prettify/prettify.css"></link>

    <script type="text/javascript" src="/static/js/google-code-prettify/prettify.js"></script>

    <script type="text/javascript" src="/static/plugins/fuelux/all.js"></script>

    <script src="/static/plugins/codemirror/lib/codemirror.js"></script>
    <script src="/static/plugins/codemirror/mode/xml/xml.js"></script>
    <script src="/static/plugins/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/plugins/codemirror/mode/css/css.js"></script>
    <script src="/static/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <link rel="stylesheet" href="/static/plugins/codemirror/lib/codemirror.css"></link>


    <script src="/static/js/admin/edit_step.js"></script>
    <script src="/static/js/admin/edit_resources.js"></script>
    <script src="/static/js/admin/edit_process.js"></script>
    <script src="/static/js/admin/edit_participants.js"></script>
    <script src="/static/js/admin/edit_templates.js"></script>

    <script>
        $(document).ready(function() {

            var edit_proceso = new Admin.EditProcess({
                el: $('#main_content')
            });
            edit_proceso.reset({
                <tal:block tal:condition="php:!empty(codigo_proceso)">
                    codigo: '<tal:block tal:content="codigo_proceso"></tal:block>'
                </tal:block>
            });

            $('#proceso_codigo').focus();
        });

    </script>

    <!-- Clips Modal HTML -->        
    <div id="clipsmodal" style="display: none;">
        <div id="redactor_modal_content">
            <div class="redactor_modal_box">
                <ul class="redactor_clips_box">
                    <li>
                        <a href="#" class="redactor_clip_link">Hola</a>
                        <div class="redactor_clip" style="display: none;">
                            <span font="">hola</span>                            
                        </div> 
                    </li>
                </ul>
            </div>
        </div>
        <div id="redactor_modal_footer">
            <a href="#" class="redactor_modal_btn redactor_btn_modal_close">Cerrar</a>
        </div>
    </div>        

    </tal:block> <!-- /container -->
</div>
