<!DOCTYPE html>
<div metal:use-macro="/admin/wrapper/process_wrapper.html/process_wrapper">
    <div metal:fill-slot="main_process_view">
        <div class="page-header">
            <strong><span class="text-info">Performance Participante</span></strong>  
        </div>
        <div>
            <table class="table table-striped table-hover">
                <caption><h2>${participant/describe}</h2></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pregunta</th>
                        <th>Eligi&oacute;</th>
                        <th>Correcta</th>
                        <th>Acert&oacute;</th>
                        <th>Tiempo (min:seg)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr tal:repeat="item results">
                        <td>#${item/orden}</td>
                        <td>
                            ${item/pregunta}
                        </td>
                        <td>
                            ${item/valor}
                        </td>
                        <td>
                            ${item/respuesta_correcta}
                        </td>
                        <td>
                            <tal:block tal:condition="item/acerto">
                                <i class="icon-ok"></i>
                            </tal:block>
                        </td>
                        <td >${item/tiempo/minutos}:${item/tiempo/segundos}</td>
                    </tr>
               </tbody>
            </table>
        </div>
    </div>


</div>
