<!DOCTYPE html>
<div metal:use-macro="/admin/wrapper/process_wrapper.html/process_wrapper">
    <div metal:fill-slot="main_process_view">
        <div class="page-header">
            <strong><span class="text-info" tal:content="result/proceso/sumario">Sumario</span></strong> (<span tal:content="result/proceso/codigo">Codigo</span>) 
        </div>
        <div>
            <div class="controls controls-row info" >
                <label class="span2" for="proceso_tipo">Tipo:</label>
                <label class="span2 text-info"><strong tal:content="result/proceso/tipo">tipo</strong></label>
            </div>
            <!--
            <div class="controls controls-row">
                <label class="span2">Descripcion:</label>
                <label class="span2 text-info"><strong tal:content="result/proceso/descripcion">descripcion</strong></label>
            </div>
            -->
            <div class="controls controls-row info">
                <label class="span2">Fecha Inicio:</label>
                <label class="span2 text-info"><strong tal:content="result/proceso/fecha_inicio">fecha inicio</strong></label>
            </div>
            <div class="controls controls-row">
                <label class="span2">Fecha Fin:</label>
                <label class="span2 text-info"><strong tal:content="result/proceso/fecha_fin">fecha fin</strong></label>
            </div>
         </div>
        <div>
            <table class="table table-striped table-hover">
                <caption><h2>Ranking Participantes</h2></caption>
                <a class="btn btn-medium btn-primary offset9" href="/admin/process/add">Crear Nuevo Proceso</a>
                <thead>
                    <tr>
                        <th>Posici&oacute;n</th>
                        <th>Id</th>
                        <th>Participante</th>
                        <th>Respuestas Contestadas</th>
                        <th>Respuestas Correctas</th>
                        <th>Tiempo (min:seg)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr tal:repeat="item ranking">
                        <td>#${item/orden}</td>
                        <th>${item/id}</th>
                        <td><a href="/admin/process/view_participant_performance/${result/proceso/codigo}/${item/participant_id}">${item/describe}</a> </td>
                        <td tal:content="item/cantidad_respuestas"></td>
                        <td tal:content="item/cantidad_respuestas_correctas"></td>
                        <td >${item/tiempo/minutos}:${item/tiempo/segundos}</td>
                    </tr>
               </tbody>
            </table>
        </div>
        <div id="participant_statistic">

        </div>

    </div>


</div>
