<!DOCTYPE html>
<div metal:use-macro="/workflow/wrapper/process_wrapper.html/process_wrapper">
    <div metal:fill-slot="activity">

        <input type="hidden" name="login" value="DO"/>
        <div id="carga_numero">
            <table>
                <tr tal:repeat="campo campos">
                    <td>
                        <label for="${campo/name}">${campo/name}</label>
                    </td>
                    <td>
                        <input name="${campo/name}" id="${campo/name}" type="text" size="37" autocomplete="off"/>
                    </td>
                </tr>
             </table>
        </div>
        
    </div>
</div>
