<!DOCTYPE html>
<div metal:use-macro="/workflow/wrapper/process_wrapper.html/process_wrapper">
    <div metal:fill-slot="activity">

        <div id="contenido_titulo_pregunta">Pregunta <span tal:content="actividad/orden">{{ACTIVIDAD_TITULO}}</span></div>
        <div id="contenido_texto_pregunta">
            <strong tal:content="actividad/descripcion">{{ACTIVIDAD_SUMARIO}}</strong>
        </div>
        <tal:block tal:repeat="respuesta actividad/respuestas">
            <div id="contenido_texto_respuesta">
                <label>
                    <input type="checkbox" name="${actividad/codigo}[]" id="${actividad/codigo}[]" value="${respuesta/valor}"/>
                </label>
                <span tal:content="respuesta/texto">{{RESPUESTA_TEXTO}}</span>
            </div>
        </tal:block>
 
    </div>
</div>
